.flex-row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.flex-column {
    box-sizing: border-box;
    flex: calc(20% - 10px); /* Adjusted width calculation */
    max-width: 20%; /* Adjusted max-width calculation */
    background-color: #e6eeee;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.6);
    padding: 15px;
    border-radius: 23px;
    margin-bottom: 30px;
}

@media (max-width: 767px) {
    .flex-column {
        flex: calc(50% - 10px);
        max-width: calc(50% - 10px);
    }
}

