.games {
    margin-top: 0px;
    border-radius: 23px;
    background: transparent;   
  }
  
  /* .games .flex-container .item {
    background-color: #e6eeee;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.6);
    padding: 15px 15px;
    border-radius: 23px;
    margin-bottom: 30px;
  } */
  
  .games .heading-section h4 {
    border-radius: 23px;
      padding:10px;
      background-color: #061b29;
      box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.3);
      color: #ffffff;
      font-size: 34px;
      text-decoration: none;
      margin-bottom: 30px;
  }
  
  .games .item img {
    border-radius: 23px;
  }  
  
  .games .item h4 {
    color: #ffffff;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 0px;
    display: inline-block;
  }
  
  .games .item span {
    color: #e7e7e7;
    display: block;
    margin-top: 7px;
    font-weight: 400;
  }
  

  .games .main-button {
    text-align: center;
    margin-bottom: -53px;
  }

  @media (max-width: 767px) {
    .games .item h4 {
        font-size: 16px;
        margin-top: 20px;
        margin-bottom: 0px;
        display: inline-block;
      }
      
      .games .heading-section h4 {
        font-size: 24px;
      }
  }