.invoice {
    margin-top:30px;
    padding:20px;
    background-color: #061b29;
    border-radius: 23px;
    border-bottom: 8px solid #f1f1f1;
  }

  .invoice .content .main-border-button a {
    text-align: center;
    width: 100%;
  }

  .invoice .content .main-status-button a {
    text-align: center;
    width: 100%;
  } 

  .heading-top-section h4 {
    border-radius: 23px;
    padding:10px;
    background-color: #ffffff;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.3);
    color: #061b29;
    font-size: 34px;
    text-decoration: none;
  }
  
  .invoice .item h4 {
    font-size: 15px;
    margin-bottom: 0px;
    display: inline-block;
  }
  

@media (max-width: 767px) {
  .invoice .pln {    
    width:100%;
    white-space: nowrap;
    overflow-x: scroll;
    background-color: transparent;
    margin-top:10px;
    margin-bottom:10px;
  }
  .invoice .pln h5 {
    font-size: 15px;
  }

  .heading-top-section {      
    padding-top:10px;
  }

  .heading-top-section h4 {
    font-size: 16px; 
  }
}