.payments {
    position: relative;
    margin-top: 60px;
    border-radius: 23px;
  }

  .payments .payment-parent {
    padding:20px;
    background-color: #061b29;
    border-radius: 23px;
    border-bottom: 8px solid #f1f1f1;
}
  
  .payments .item {
    display: flex;
    flex-direction: column;
    align-items: center;  /* Center items horizontally */
    text-align: center;   /* Center text */
    background-color: #e6eeee;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.6);
    padding: 15px 15px;
    border-radius: 23px;
    margin-bottom: 30px;
  }

  .payments .heading-section h4 {
    border-radius: 23px;
    padding:10px;
    background-color: #ffffff;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.6);
    color: #061b29;
    font-size: 34px;
    text-decoration: none;
    margin-bottom: 30px;
  }
  
  .payments .item img {
    border-radius: 23px;
    margin-bottom: 10px;  /* Add some margin between image and text */
  }
  
  .payments .item h4 {
    font-size: 12px;
    margin-top: 10px;  /* Reset top margin */
    margin-bottom: 0px;
    color: #082538;
    display: inline-block;
  }
  
  .payments .item span {
    font-size: 12px;
    color: #666;
    margin-top: 10px;
  }
  
  .payments .item ul {
    float: right;
    margin-top: 20px;
  }
  
  .payments .item ul li {
    text-align: right;
    color: #fff;
    font-size: 14px;
  }
  
  .payments .item ul li:first-child i {
    color: yellow;
  }
  
  .payments .item ul li:last-child i {
    color: #ec6090;
  }
  
  .payments .main-button {
    text-align: center;
    margin-bottom: -53px;
  }

  @media (max-width: 767px) {

    .payments .heading-section h4 {        
        font-size: 19px;
      } 
  }